@use "./tokens" as t;
body{
  min-height: 100dvh;
  background-color: var(--color-page-bg);
  color: var(--color-text-main);
  font-family: var(--font-base);
  line-height: var(--line-height-base);
}

.sn-container {
  max-width: var(--container-max, 75rem); /* ~1200px */
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--container-padding, 1rem);
}
.sn-main {
  /* Вверху — 0, внизу — комфортный отступ для дыхания */
  padding-block-start: 0;
  padding-block-end: var(--space-xl);
}